module = LOW_POWER_SENSOR
module-str = Low Power Sensor
module-help = Low Power Sensor app

source "Kconfig.zephyr"
rsource "Kconfig.lp_hp_shared"

choice LPS_TRANSPORT_AND_TELEMETRY_PROTOCOL
	prompt "LPS Transport and Telemetry Protocol"
	default LPS_TRANSPORT_WIFI_MQTT
	help
	  Select the network transport and messaging protocol combination
	  for the sensor node.

	config LPS_TRANSPORT_WIFI_MQTT
		bool "WiFi + Standard MQTT"
                select NETWORKING
                select NET_SOCKETS
                select NET_UDP
                select NET_IPV4
                select NET_TCP
                select NET_ARP_GRATUITOUS
                select MQTT_LIB
                select MQTT_CLEAN_SESSION
		select WIFI
                select WIFI_ESP32
		help
		  Use standard WiFi for the transport layer and TCP-based 
		  MQTT for telemetry. This is easiest to set up but uses 
		  more battery.

	config LPS_TRANSPORT_THREAD_MQTTSN
		bool "OpenThread + MQTT-SN"
                select NETWORKING
                select NET_SOCKETS
                select NET_UDP
                select NET_IPV6
                select MQTT_SN_LIB
		select NET_L2_OPENTHREAD
		help
		  Use an 802.15.4 OpenThread mesh for the transport layer 
		  and UDP-based MQTT-SN. Required for hitting the ~20uA 
		  deep-sleep floor.

endchoice

config LPS_EXPLICIT_LP_IMAGE_LOADING
    bool "Load the LP image based on directives within the application"
    default n
    help
        "enable explicit LP image loading"

config LPS_USE_LIGHT_SLEEP
    bool "Use light sleep rather than deep sleep for HP core"
    default n
    help
        "enable HP core light sleep mode"

config LPS_MQTT_BROKER_ADDR
    string "MQTT broker address"
    default ""
    help
        "The address of the MQTT broker".

config LPS_MQTT_BROKER_PORT
    int "MQTT broker port"
    default 1883
    help
        "The UDP port of the MQTT broker".

config LPS_MQTT_BROKER_USERNAME
    string "MQTT broker username"
    default ""
    help
        "The username to connect to MQTT broker".

config LPS_MQTT_BROKER_PASSWORD
    string "MQTT broker password"
    default ""
    help
        "The password to connect to MQTT broker".

config LPS_DHCP_CLIENT
    bool "LPS DHCP client"
    default y
    help
        "enable LPS DHCP client"

config LPS_IP_ADDR
    string "Static IP Address"
    default "192.168.1.100"

config LPS_NETMASK
    string "Static Netmask"
    default "255.255.255.0"

config LPS_GW
    string "Static Gateway"
    default "192.168.1.1"
