/*
 * Copyright (c) 2025 Espressif Systems (Shanghai) Co., Ltd.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	chosen {
		zephyr,ipc_shm = &ipc_shm;
		zephyr,ipc = &mbox0;
	};

        mbox_consumer {
               compatible = "vnd,mbox-consumer";
               mboxes = <&mbox0 0>, <&mbox0 1>;
	       mbox-names = "rx", "tx";
        };
};

/* Leaving this here for when Zephyr support for LP i2c is added

&lp_i2c0 {
    status = "okay";
    pinctrl-0 = <&lp_i2c0_default>;
    pinctrl-names = "default";
    clock-frequency = <I2C_BITRATE_STANDARD>;
};

&pinctrl {
    lp_i2c0_default: lp_i2c0_default {
        group1 {
            pinmux = <LP_I2C0_SCL_LP_GPIO6>,
                     <LP_I2C0_SDA_LP_GPIO7>;
        }
    };    
};

*/

