/*
 * Copyright (c) 2025 Espressif Systems (Shanghai) Co., Ltd.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
        mbox_consumer {
               compatible = "vnd,mbox-consumer";
               mboxes = <&mbox0 0>, <&mbox0 1>;
	       mbox-names = "rx", "tx";
        };
};

